global:
  scrape_interval: 5s
  evaluation_interval: 5s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

rule_files:
  - rules/*.yml

scrape_configs:
  - job_name: app
    static_configs:
      - targets: ["api:8000"]